In [32]:
  

def feb_rec(num, x=0, y=1):
    if num ==0:
        return
    
    print(x, end=" ")
    feb_rec(num-1,y,x+y)

        
feb_rec(5)

0 1 1 2 3

In [20]:
def factorial(num):
    if num < 1:
        return 1
    else:
        return num*factorial(num-1)
fact = factorial(5)
print(fact)

120

1

In [27]:
lst1 = [1, 2, 6]
lst2 = [8, 4, 9]
print(list(zip(lst1,lst2, [5, 6, 7], [9, 3, 8])))

#for e_val in zip(lst1,lst2):
   # print(e_val)

[(1, 8, 5, 9), (2, 4, 6, 3), (6, 9, 7, 8)]

In [28]:
import calendar

In [29]:
month = calendar.month(2011, 2)

In [30]:
type(month)

str

In [31]:
print(month)

   February 2011
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28

In [3]:
num = 1234

res = list(map(lambda x: str(int(x)**2), str(num)))
res1 = "".join(res)
print(int(res1))

14916

In [4]:
'''
map(function without paranthesis, list)

'''

lst = [1,2,3,4,5]
sq = map(lambda x: x**2, lst)

In [7]:
print(list(sq))

[1, 4, 9, 16, 25]

In [8]:
''' 
filter
'''
lst = list(range(10, 0, -1))
even = list(filter(lambda x: x%2 == 0, lst))
print(even)

[10, 8, 6, 4, 2]

In [9]:


year divisible by 4 and not didvible by 100

or

year didvisible by 100 as well as 400

SyntaxError: invalid syntax (Temp/ipykernel_8908/200730934.py, line 1)